<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IR</title>
    <script src="js/jquery.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="stage">
        <div class="title">
            <div class="minif flames"></div>
            <div class="littlef flames"></div>
            <div class="flames"></div>
            <div class="txt">CYBER CHICKEN FIGHT</div>
            <div class="flames second"></div>
            <div class="littlef flames second"></div>
            <div class="minif flames second"></div>
        </div>
        <div class="scores">
            <div class="scores_home">
                <div class="point">
                    100
                </div>
                <div class="life">
                </div>

            </div>
            <div class="scores_enemy">
                <div class="point">
                    100
                </div>
                <div class="life">
                </div>
            </div>
        </div>
        <div class="gameover">GAME OVER</div>
        <canvas id="gameStage" style="width:1240px; height:640px;" height="640" width="1240"></canvas>
    </div>
</body>

</html>